@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Martian+Mono&family=Montserrat:wght@400;700&family=Nunito:wght@600&family=Paytone+One&family=Playfair+Display:wght@700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Tilt+Neon&display=swap");

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: monospace;
  color: #98ff98;
  padding-top: 25px;
}
.weather-header {
  margin-bottom: 30px;
  font-size: 80px;
  font-family: "Tilt Neon", cursive;
}

.TempFont {
  font-size: 70px;
}

.Emoji {
  font-size: 90px;
}

.minTemp {
  color: grey;
}

.Weather-block h1 {
  font-size: 58px;
  font-family: "Nunito", sans-serif;
  margin-bottom: 20px;
  padding: 0px 50px 0px 50px;
}

footer {
  font-family: "Nunito", sans-serif;
  padding: 10px;
  background-color: #98ff98;
  color: #282c34;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* .forecastEmojiContainer {
  color: blueviolet;
} */
