.weatherInfoContainer {
  margin-top: 30px;
  padding: 30px 20px;
  border-radius: 25px;
  background-color: whitesmoke;
  color: darkslategrey;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.forecastEmojiContainer {
  margin-top: 20px;
  padding: 30px;
  border-radius: 25px;
  background-color: whitesmoke;
  color: darkslategrey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
